.header{
	/*width: 960px;*/
	padding: 45px 0px;
	margin:auto;
}
.content-container{
}
.footer-container{
}
.icon-wrapper {
	width: 25%;
	float:left;
}
.topmenu-wrapper {
	float: left;
	width: 75%;
}
.menu-horizontal {
	float: right;
}
.menu-horizontal ul{
	list-style:none;

}
.menu-horizontal ul li{
	display:inline;
	padding: 15px;
}
.search-title{
	background: url(../images/plane.png) no-repeat center left !important;
	padding-left: 50px !important;
	padding-top: 10px !important;
	margin-left: -5px !important;
	color: #fff !important;
	height: 40px !important;
	line-height: 35px !important;
	font-weight: bold !important;
	font-size: 20px !important;
	text-transform: uppercase !important;
	text-shadow: #011123 1px 1px !important;
}
.buttons{
	margin-top: 10px;
	padding: 0px;
}
.btn{
	float:right;
}
.col-center{
  margin:0 auto;
  float:none;
}
.logo-medium {
	
	margin: 50px 0px 50px 0px;
}
.hotline-text{
	color: #ffcc00;
	height: 40px;
	line-height: 45px;
	font-weight: bold;
	font-size: 30px;
	text-transform: uppercase;
	text-shadow: #011123 1px 1px;
}
.hotline-number{
	color: #fff0;
	height: 40px;
	line-height: 45px;
	font-weight: bold;
	font-size: 30px;
	text-transform: uppercase;
	text-shadow: #011123 1px 1px;
}
#icon{
	background: url('../images/logo.png');
	width: 250px;
	height: 60px;
}
#search_box{
	margin-top: 50px;
}
#mainpage{
	background-color: #0099cc;
	color:#fff;
}
#header_section{
	background-color: #0099cc;
	color:#fff;
	
}
#mainpage_section{
	background-color: #0099cc;
	color:#fff;
	height: 840px;
}
#intro_section{
	background-color: #fff;
	color:#999999;
	height: 840px;
}
#services_section{
	background-color: #0099cc;
	color:#fff;
	height: 860px;
}
#intro_text p{
	font-family: Time New Roman;
	font-size: 16pt;
	padding: 20px;
	
}
body input{
	color:#000;
}